[submodule "cryptography"]
	path = cryptography
	url = git@github.com:thor314/cryptography.git
	branch = main
[submodule "emacs"]
	path = emacs
	url = git@github.com:thor314/emacs.git
	branch = main
[submodule "linux"]
	path = linux
	url = git@github.com:thor314/linux.git
	branch = main
[submodule "near"]
	path = near
	url = git@github.com:thor314/near.git
	branch = main
[submodule "open-source"]
	path = open-source
	url = git@github.com:thor314/open-source.git
	branch = main
[submodule "projects"]
	path = projects
	url = git@github.com:thor314/projects.git
	branch = main
[submodule "puzzles"]
	path = puzzles
	url = git@github.com:thor314/puzzles.git
	branch = main
[submodule "rust-playground"]
	path = rust-playground
	url = git@github.com:thor314/rust-playground.git
	branch = main
[submodule "web-playground"]
	path = web-playground
	url = git@github.com:thor314/web-playground.git
	branch = main
[submodule "python-playground"]
	path = python-playground
	url = git@github.com:thor314/python-playground.git
